.task-list {
    padding: 1em;
    table {
        width: 100%;
        border-collapse: collapse;

       
        tr:nth-child(even){
            background-color: #F0F8FE;
        }
        .table-header {
            background-color: #5588A4;
            color: white;
        }
    }

    table,
    th,
    td {
        border: 1px solid #DDDDDD;
    }
    th, td{
        padding: 0.5em;
        text-align: center;
    }
}